

body{
background-color: #F5EDE1;
}

html{
  height: 100%;
}

p{
font-family: Work Sans, sans-serif;
font-style: normal;
font-weight: 400;
font-size: 14pt;
line-height: 24pt;
color: #08241C;
margin-bottom: -20px;
}

a{
  font-family: Work Sans, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14pt;
  line-height: 24pt;
  color: #08241C;
  text-decoration: none;
}

a:hover{
  color: #D5512F;
}

h1{
  font-family: p22-mackinac-pro, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 36pt;
    line-height: 46pt;
    color: #08241C;
    margin-left:-3px;
    margin-bottom:-10px;
}

h1-special{
  font-family: p22-mackinac-pro, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 36pt;
    line-height: 46pt;
    color: white;
    transition: color 0.7s;
}

h2{
  font-family: Work Sans, sans-serif;
  font-weight: 900;
  font-style: normal;
  text-transform: uppercase;
  font-size: 12pt;
  line-height: 28pt;
  letter-spacing: 2.5px;
  color: #08241C;
  margin-bottom: -42px;
}

h3{
  font-family: p22-mackinac-pro, serif;
  font-weight: 500;
  font-style: normal;
  font-size: 18pt;
  line-height: 28pt;
  color: #08241C;
  margin-top: 36px;
  margin-bottom: -12px;
}

h4{
font-family: Work Sans, sans-serif;
font-style: normal;
font-size: 18pt;
font-weight: 400;
line-height: 24pt;
color: #08241C;
margin-top:10px;
}

img{
width: 30vw;
padding-bottom:10vh;
}

#header {
  background-color: #F5EDE1;
  text-align: center;
  font-size: 90px;
  font-weight: bold;
  position: fixed;
  top: 0;
  width: 100%;
  transition: 0.2s;
}

.pbs-countdown{
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  text-align: center;
  padding: 1vh 0vh 2vh 0vh;
}

.pbs-countdown-number{
  font-family: Work Sans, sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 100px;
  line-height: 64px;
  color: #08241C;
}


.pbs-countdown-label{
  font-family: Work Sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  font-size: 12pt;
  line-height: 28pt;
  letter-spacing: 2.5px;
  color: #08241C;
}

section{
  padding-bottom:5vh;
}

.intro{
  margin:20vw 20vw 10vw 20vw;
  position:relative;
}

.leftbox{
  display: grid;
  grid-template-columns: auto auto;
width: 80vw;
margin-top:5vw;
margin-left:5vw;
margin-bottom:5vw;
grid-column-gap:5vw;
}

.rightbox{
  display: grid;
  grid-template-columns: auto auto;
width: 80vw;
margin-top:5vw;
margin-left:13vw;
margin-bottom:5vw;
grid-column-gap:5vw;
}

.accent{
border-left: 3px solid #E6D3B4;
border-spacing: 2px;
padding-left:1vw;
margin-left:2vw;
}

.close{
  position: center;
}

.closeparagraph{
  margin: 5vw 20vw 5vw 20vw;
  text-align: center;
}

.cta{
  display: grid;
  grid-template-columns: auto auto auto;
}

.ctaitem{
    text-align: left;
    background-color: white;
    background-position: center;
    padding: 1vw 1vw 1vw 1vw;
    width: 30vw;
    transition: background-color 0.7s;
}

.ctaitem:hover{
  background-color: #EDC9B7;
}

.finalcta{
  margin: 5vw 20vw 5vw 20vw;
  text-align: center;
  background-color: #A53529;
  transition: background-color 0.7s;
  padding:2vw;
}

.finalcta:hover{
  background-color: #EDC9B7;
}

@media only screen and (max-width: 600px){
h1{
  font-size: 24pt;
  line-height:28pt;
}
h1-special{
  font-size: 24pt;
  line-height:28pt;
}
h2{
  margin-bottom: -22px;
}
.intro{
  margin:65vw 20vw 10vw 20vw;
  position:relative;
}
}
